@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f1f1f1;
    overflow-x: hidden !important;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #40c3ff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header h2 {
    color: #f1f1f1;
    background: rgba(0, 0, 0, 0.2);
    position: relative;
    top: 150px;
    font-size: 48px;
    left: -30px;
    animation: modify-header 1s 500ms forwards ease;
    visibility: hidden;
    opacity: 0;
}

@keyframes modify-header {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-200px);
    }
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
    }
}

header #toggle {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

header #toggle:before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}

header #toggle:after {
    content: '';
    position: absolute;
    top: 8px;
    width: 100%;
    height: 2px;
    background: #fff;
}

.banner.active header #toggle:before,
.banner-other.active header #toggle:before {
    top: 7px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.banner.active header #toggle:after,
.banner-other.active header #toggle:after {
    top: 7px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background: url(../images/home-banner.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}

.banner-other {
    position: relative;
    min-width: 100%;
    height: 65vh;
    padding: 100px;
    background: url(../images/home-banner.jpg);
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}

.active-nav {
    color: #40c3ff !important;
}

.banner.active {
    transform: translateX(-400px);
}

.banner-other.active {
    transform: translateX(-400px);
}

#navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    max-height: 100vh;
    min-height: 100%;
    background: #40c3ff;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

#navigation-other {
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    max-height: 65vh;
    min-height: 65%;
    background: #40c3ff;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

#navigation.active,
#navigation-other.active {
    right: 0;
}

#navigation ul,
#navigation-other ul {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#navigation ul li,
#navigation-other ul li {
    list-style: none;
    transition: 0.3s;
}

#navigation ul li:hover,
#navigation-other ul li:hover {
    font-size: 20px;
    transition: 0.3s;
}

#navigation ul li a,
#navigation-other ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 300;
}

.content {
    max-width: 420px;
}

.content h2 {
    color: #fff;
    font-size: 2.5em;
}

.content h2 span {
    color: #40c3ff;
    font-size: 1.2em;
}

.content p {
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}

.content a {
    position: relative;
    display: inline-block;
    margin-top: 20px;
    background: #fff;
    color: #000;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}

.sci {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}

.sci li {
    list-style: none;
}

.sci li a {
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    margin: 10px 0 0;
    color: rgb(0, 0, 0);
    border: 1px solid #fff;
}

.sci li a:hover {
    background: #fff;
}

.sci li a i {
    font-size: 25px;
    filter: invert(1);
    mix-blend-mode: difference;
}

@media (max-width: 848px) {
    header {
        padding: 20px 50px;
    }
    .banner,
    .banner-other {
        padding: 100px 50px 150px;
    }
    .banner h2,
    .banner-other h2 {
        font-size: 1.8em;
    }
    .banner .content p,
    .banner .content a {
        font-size: 1em;
    }
    .banner.active,
    .banner-other.active {
        transform: translateX(-250px);
    }
    #navigation,
    #navigation-other {
        width: 250px;
    }
    #navigation ul li a,
    #navigation-other ul li a {
        font-size: 1.5em;
        margin: 5px 0;
    }
    .sci {
        position: absolute;
        bottom: 50px;
        right: initial;
        flex-direction: row;
    }
    .sci li a {
        margin: initial;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 520px) {}


/* Testimonials styles */

.testimonials {
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}

.inner {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.border {
    width: 160px;
    height: 5px;
    background: #40c3ff;
    margin: 26px auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transform: translateX(0px);
}

.col {
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial {
    background: #fff;
    padding: 30px;
    height: 470px;
    overflow: scroll;
}

.testimonial img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px 0;
}

.stars {
    color: #40c3ff;
    margin-bottom: 20px;
}

.testimonial-nav {
    display: flex;
    justify-content: center;
}

.testimonial-nav h1 {
    margin: -50px 10px 40px 10px;
    color: #898989;
    font-size: 60px;
    transition: ease 0.3s;
    cursor: pointer;
}

.testimonial-nav h1:hover {
    color: #bcbcbc;
    transition: ease 0.3s;
}

.testimonial-nav h1.active {
    color: #565656;
}

#test-two,
#test-three {
    display: none;
}

.sm-txt {
    font-size: 14px;
}

.bg-txt {
    font-size: 17px;
}

@media screen and (max-width: 960px) {
    .col {
        flex: 100%;
        max-width: 80%;
    }
    .testimonial-nav {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}


/* Featured Image */

.featured-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 150px 70px 150px;
    background: #f1f1f1;
}

.featured-image img {
    width: 500px;
    height: 370px;
}

.featured-image .fea-sec {
    background: #ffffff;
    min-width: 500px;
    width: 500px;
    padding: 30px;
}

.featured-image .fea-sec h2 {
    font-size: 32px;
    color: rgb(7, 7, 100);
    width: 100%;
    text-align: center;
}

.featured-image .fea-sec p {
    font-size: 18px;
    line-height: 28px;
    width: 100%;
    text-align: justify;
}

@media only screen and (max-width: 848px) {
    .featured-image .fea-sec,
    .featured-image img {
        max-width: 400px;
        width: 400px;
        min-width: 400px;
        margin: 0 auto;
    }
    .featured-image .fea-sec h2 {
        font-size: 24px;
    }
    .featured-image .fea-sec p {
        font-size: 14px;
    }
}


/* Second banner */

.second-banner {
    background: #f1f1f1;
}

.second-banner img {
    width: 100%;
    height: 70vh;
    margin: 30px 0;
}


/* Footer Styles */

footer p {
    color: #999;
    line-height: 25px;
}

footer h2,
footer h3 {
    color: #fff;
}

footer h2 {
    font-size: 18px;
}

.footer-top {
    background: #111111;
    padding: 80px 0;
}

.footer-row div {
    width: 300px;
    margin: 10px;
}

.footer .first-row {
    display: flex;
    flex-direction: row;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.segment-one h3 {
    font-family: 'Courgette';
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
    font-size: 24px;
}

.segment-two h2 {
    color: #fff;
    font-family: 'Poppins';
    text-transform: uppercase;
}

.segment-two h2:before {
    content: '|';
    color: #40c3ff;
    padding-right: 10px;
}

.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 200px;
}

.segment-two ul li {
    border-bottom: 1px solid #ffffff88;
    line-height: 30px;
}

.segment-two ul li a {
    color: #999;
    text-decoration: none;
    font-weight: 200;
}

.segment-three h2 {
    color: #fff;
    font-family: 'Poppins';
    text-transform: uppercase;
}

.segment-three h2:before {
    content: '|';
    color: #40c3ff;
    padding-right: 10px;
}

.segment-three a {
    background: #484949;
    width: 40px;
    height: 40px;
    display: inline-block;
    border-radius: 50%;
}

.segment-three a i {
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
    transition: 0.25s;
}

.segment-three a i:hover {
    color: #232323;
    transition: 0.25s;
}

.segment-four h2 {
    color: #fff;
    font-family: 'Poppins';
    text-transform: uppercase;
}

.segment-four {
    min-width: 300px;
}

.segment-four h2:before {
    content: '|';
    color: #40c3ff;
    padding-right: 10px;
}

.segment-four input[type=submit] {
    background: rgb(7, 7, 100);
    border: none;
    padding: 2px 15px;
    margin-left: -5px;
    color: #fff;
    text-transform: uppercase;
}

.footer-bottom-text {
    text-align: center;
    background: #000;
    line-height: 40px;
    min-height: 70px;
    padding: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .md-mb-30 {
        margin-bottom: 30px;
    }
    /* .segment-three {
        min-width: 500px;
    } */
}

@media only screen and (max-width: 767px) {
    .sm-mb-30 {
        margin-bottom: 30px;
    }
    .footer-top {
        padding: 50px 0;
    }
}


/* Special Offers and Deals Styles */

.deals {
    width: 100%;
    height: fit-content;
    padding: 10px 100px 100px 100px;
}

.deals .deal-row {
    display: flex;
    width: 90%;
    margin: 0 5%;
    flex-wrap: wrap;
}

.deals .deal-row .deal {
    width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid #565656;
    padding: 20px;
    margin: 10px;
    transition: 0.6 ease;
}

.deals .deal-row .deal:nth-child(1) {
    background: #40c3ff;
}

.deals .deal-row .deal:nth-child(2) {
    background: #40ffc3;
}

.deals .deal-row .deal:nth-child(3) {
    background: #ffc340;
}

.deals .deal-row .deal:hover {
    position: relative;
    top: 5px;
    transition: 0.6s ease;
}

.deals .deal-row .deal a {
    float: right;
    background: #f1f1f1;
    padding: 3px 6px;
    border-radius: 20px;
    color: #000;
    text-decoration: none;
    transition: 0.3s ease;
}

.deals .deal-row .deal a:hover {
    background: #f1f1f1dd;
    transition: 0.3s ease;
}

@media only screen and (max-width: 600px) {
    .deals {
        padding: 10px 10px 100px 10px;
    }
}


/* Coding Page Styles */

.courses-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.courses-cont {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.courses-cont .card {
    position: relative;
    width: 300px;
    height: 215px;
    background: #40c3ff;
    margin: 30px 10px;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in-out;
}

.courses-cont .card:hover {
    height: 420px;
    background: #ffc340;
}

.courses-cont .card .imgBx {
    position: relative;
    width: 260px;
    height: 220px;
    top: -40px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.courses-cont .card .imgBx img {
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
}

.courses-cont .card .course-content {
    position: relative;
    margin-top: -140px;
    padding: 10px 25px;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
    color: #fff;
}

.courses-cont .card:hover .course-content {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}


/* All Courses styles */

.all-courses-h1 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    color: #434343;
}

.btn-cont {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.btn-cont .btn {
    text-decoration: none;
    font-size: 18px;
    border: 1px solid #111;
    padding: 10px 20px;
    margin: -20px 0 20px 0;
    box-sizing: border-box;
    color: #f1f1f1;
    font-weight: 600;
    background: rgb(7, 7, 100);
    transition: 0.3s ease;
}

.btn-cont .btn:hover {
    background: #40c3ff;
    color: #000;
    transition: 0.3s ease;
}


/* About page Styles */

.text-abt-cont {
    width: 100%;
    display: flex;
    justify-content: center;
}

.intro-text {
    max-width: 400px;
    text-align: center;
    transform: translateY(40px) translateX(-40px);
    opacity: 0;
    transition: 0.8s all ease-in-out;
    margin-top: 100px;
}

.intro-appear {
    transform: translateY(0px) translateX(0px);
    opacity: 1;
}

.blu-txt {
    color: #40c3ff;
}

.ora-txt {
    color: #ffc340;
}

.gre-txt {
    color: #40ffc3;
}

.icon-nav-cont {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.icon-nav-cont div {
    margin: 50px 25px 80px 25px;
    display: flex;
    background: #000;
    width: 100px;
    align-items: center;
}

.icon-nav-cont div a {
    position: absolute;
    text-decoration: none;
    text-align: center !important;
    color: #434343;
    transition: ease 0.3s;
}

.icon-nav-cont div a:hover {
    color: #40c3ff;
    transition: ease 0.3s;
}

.icon-nav-cont div a i {
    text-align: center;
    font-size: 30px;
}

.abt-txt-img {
    margin-top: 200px;
}

@media only screen and (max-width: 600px) {
    .icon-nav-cont div {
        margin: 50px 10px 80px 10px;
    }
}


/* Team Styles */

.team-cont {
    max-width: 1100px;
    margin-bottom: 100px;
}

.team-card {
    width: 300px;
    height: 400px;
    background: #aaa;
    overflow: hidden;
}

.team-bg-img {
    width: 100%;
    height: 290px;
}

.pfp-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    top: -60px;
    left: 90px;
    border: 6px solid #aaa;
}

.team-txt-cont {
    position: relative;
    top: -85px;
}

.name {
    color: #333;
    text-align: center;
}


/* websites page styles */

.web-iframe {
    display: flex;
    flex-wrap: wrap;
}

.web-iframe a.demo-btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #40c3ff;
    padding: 8px 10px;
    max-width: 150px;
    text-align: center;
}

.web-iframe a.demo-btn:hover {
    background-color: #006391;
}

.web-iframe .iframe-theme {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.showcase-web {
    display: flex;
    flex-wrap: wrap;
}

.showcase-web a.show-btn {
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: #40c3ff;
    padding: 8px 10px;
    max-width: 150px;
    text-align: center;
}

.showcase-web a.show-btn:hover {
    background-color: #006391;
}

.showcase-web .iframe-show {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}